* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body, #root {
  min-height: 100vh;
}

.main-content {
  margin-top: 3.75rem; /* Same as .topbar height */
  padding: 1rem; /* Optional: for spacing */
}